@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
  --color-red: #ff0000;
  --color-red-wine: #e11b22;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #B28756;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
    height: 100px;
    background-color: var(--color-red-wine);
    color: var(--color-white);
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
}

.logoimg img {
    width: 170px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    align-items: center;
    border-bottom: 6px solid var(--color-red-wine);
}

.menu li a:hover {
    border-bottom: 6px solid var(--color-black);
    color: var(--color-black);
}